
img { max-width: 200px; }

section {
    border: 1px darkblue solid;
    padding: 25px;
}

p { background-color:  hsl(200, 75%, 80%); }

section {
    display: flex;
    gap: 25px;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

p { flex: 100px; }

