img { max-width: 200px; }

section {
    border: 1px darkblue solid;
    padding: 25px;
}

p { background-color:  hsl(200, 75%, 80%); }


section {
    display: grid;
    gap: 25px;    
    grid-template-columns: .5fr .5fr .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

p:nth-of-type(8) {
    grid-column: 1 / 4;
    grid-row: 3;
    text-align: right;
    background-color: yellow;
}

p:nth-of-type(9) {
    grid-column: 4;
    grid-row: 2 / 4;
    background-color: orange;
}